<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vet.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @vet.owner_id %>
</p>

<%= link_to 'Edit', edit_vet_path(@vet) %> |
<%= link_to 'Back', vets_path %>
