<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @buddy.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @buddy.breed %>
</p>

<p>
  <strong>User:</strong>
  <%= @buddy.user_id %>
</p>

<%= link_to 'Edit', edit_buddy_path(@buddy) %> |
<%= link_to 'Back', buddies_path %>
